header {
  height: 50px !important;
  background: #222 !important;
  color: #eee !important;
  position: fixed !important;
  display: block !important;
  z-index: 100 !important;
  width: 100% !important;
  top: 0 !important;
  font-family: sans-serif !important;
}

header a {
  margin-left: 5px !important;
  color: inherit !important;
  text-decoration: none !important;
  height: 100% !important;
  display: inline-block !important;
  padding: 17px !important;
  font-size: 16px !important;
  line-height: 1.1 !important;
  box-sizing: border-box !important;  
    -moz-box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important;
  transition: background .3s !important;
    -moz-transition: background .3s !important;
    -webkit-transition: background .3s !important;
    -o-transition: background .3s !important;
}

header a:hover, header a:focus {
  background: #666 !important;
}

header .divider {
  margin: 0 !important;
  padding: 0 !important;
  height: 100% !important;
  background: white !important;
  font-size: 16px !important;
  border-right: 1px solid #999 !important;
}

header + .dummy {
  height: 50px !important;
}