/* Slider */

.slider {
  height: 300px;
  width: 100%;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.slider .slides {
  background: white;
  color: black;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.slider .slides > div {
  visibility: hidden;
  display: inline-block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  opacity: .99;
  text-align: left;
  color: #222;
  transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -ms-transform: translateX(-100%);    
  transition: opacity .5s, transform .5s ease, .5s visibility 0s;
    -moz-transition: opacity .5s, -moz-transform .5s ease, .5s visibility 0s;
    -webkit-transition: opacity .5s, -webkit-transform .5s ease, .5s visibility 0s;
    -o-transition: opacity .5s, -o-transform .5s ease, .5s visibility 0s;
    -ms-transition: opacity .5s, -ms-transform .5s ease, .5s visibility 0s;
}

.slider .slides > div.selected {
  transform: none;
    -moz-transform: none;
    -webkit-transform: none;
    -o-transform: none;
    -ms-transform: none;
  opacity: 1;
  visibility: visible;
}

.slider .slides > div.selected ~ div {
  transform: translateX(100%);
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -o-transform: translateX(100%);
    -ms-transform: translateX(100%);
}

.slider .slides > div > div {
  padding: 10px 25px;
}

.slider .slides > div > div:first-child {
  float: right;
  padding: 0;
  margin-left: 20px;
}

.slider .slides > div > div:first-child img {
  max-width: 600px;
}

.slider .slider-nav-buttons .left, .slider .slider-nav-buttons .right {
  padding: 5px;
  position: absolute;
  top: 40%;
  z-index: 2;
  background: black;
  height: 30px;
  width: 30px;
  border-radius: 20px;
  border: 2px solid white;
  opacity: 0;
  transform: scale(2, 1);
    -moz-transform: scale(-1, 2);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
  transition: opacity .3s, transform .3s ease;
    -moz-transition: opacity .3s, -moz-transform .3s ease;
    -webkit-transition: opacity .3s, -webkit-transform .3s ease;
    -o-transition: opacity .3s, -o-transform .3s ease;
    -ms-transition: opacity .3s, -ms-transform .3s ease;
}

.slider .slider-nav-buttons .left {
  left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none;
  padding-left: 0;
}

.slider .slider-nav-buttons .right {
  right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
  padding-right: 0;
}

.slider .slider-nav-buttons img {
  height: 30px;
  transition: transform .3s;
    -moz-transition: -moz-transform .3s;
    -webkit-transition: -webkit-transform .3s;
    -o-transition: -o-transform .3s;
    -ms-transition: -ms-transform .3s;
}

.slider .slider-nav-buttons .right:hover img {
  transform: translateX(5px);
    -moz-transform: translateX(5px);
    -webkit-transform: translateX(5px);
    -o-transform: translateX(5px);
    -ms-transform: translateX(5px);
}

.slider .slider-nav-buttons .left:hover img {
  transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    -webkit-transform: translateX(-5px);
    -o-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
}

.slider:hover .slider-nav-buttons .left, .slider:focus .slider-nav-buttons .left, .slider:active .slider-nav-buttons .left, .slider:hover .slider-nav-buttons .right, .slider:focus .slider-nav-buttons .right, .slider:active .slider-nav-buttons .right {
  transform: none;
    -moz-transform: none;
    -webkit-transform: none;
    -o-transform: none;
    -ms-transform: none;
  opacity: 1;
}

.slider .slider-nav-list {
  position: absolute;
  bottom: 0;
  border: 2px solid white;
  border-bottom: none;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: inline-block;
  padding: 5px;
  padding-bottom: 0;
  opacity: 0;
  background: black;
  transform: scale(2, -1);
    -moz-transform: scale(2, -1);
    -webkit-transform: scale(2, -1);
    -o-transform: scale(2, -1);
    -ms-transform: scale(2, -1);    
  transition: opacity .5s, transform .3s ease;
    -moz-transition: opacity .5s, -moz-transform .3s ease;
    -webkit-transition: opacity .5s, -webkit-transform .3s ease;
    -o-transition: opacity .5s, -o-transform .3s ease;
    -ms-transition: opacity .5s, -ms-transform .3s ease;
}

.slider:hover .slider-nav-list, .slider:focus .slider-nav-list, .slider:active .slider-nav-list {
  transform: none;
    -moz-transform: none;
    -webkit-transform: none;
    -o-transform: none;
    -ms-transform: none;
  opacity: 1;
}

.slider .slider-nav-list span:first-child {
  margin-left: 10px;
}

.slider .slider-nav-list span:last-child {
  margin-right: 10px;
}

.slider .slider-nav-list span {
  height: 1px;
  width: 1px;
  display: inline-block;
  padding: 4px;
  margin: 4px 2px; 
  background: white;
  border-radius: 100%;
  opacity: .2;
  cursor: pointer;
  transition: opacity .5s;
    -moz-transition: opacity .5s;
    -webkit-transition: opacity .5s;
    -o-transition: opacity .5s;
    -ms-transition: opacity .5s;
}

.slider .slider-nav-list span:hover, .slider .slider-nav-list span:focus {
  opacity: .7;
}

.slider .slider-nav-list span.selected {
  opacity: 1;
}

@media mobile, (max-width: 860px) {
  .slider {
    height: 400px;
    overflow: visible;
    margin-bottom: 40px;
  }
  .slider .slides > div {
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
  }
  .slider .slides > div > div:first-child {
    display: none;
  }
  .slider .slider-nav-buttons .left, .slider .slider-nav-buttons .right {
    transform: none;
      -moz-transform: none;
      -webkit-transform: none;
      -o-transform: none;
      -ms-transform: none;
    opacity: 1;  
  }
  .slider .slider-nav-list {
    padding: 0;
    width: 100%;
    left: 0;
    right: 0;
    bottom: -40px;
    border-radius: 0;
    transform: none;
      -moz-transform: none;
      -webkit-transform: none;
      -o-transform: none;
      -ms-transform: none;
    opacity: 1;
    border: none;
  }
  .slider .slider-nav-list span {
    padding: 8px;
    margin: 10px 2px;   
  }
}

@media (max-width: 400px) {
  .slider .slides > div {
    padding: 0;
  }
  .slider .slider-nav-buttons {
    display: none;
  }
